@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de olvido de password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por Favor verificar en su email para reestablecer su password.
</p>
