@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Su cuenta fue bloqueada , Favor de pobar mas tarde.</p>
</header>
